.git
.next
coverage
node_modules
test-results
.env
.env.*
!.env.example
gha-creds-*.json
npm-debug.log*
.terraform
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
backend.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
